.EquationDisplay {
    border: 1px solid black;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0px;
    width: 7em;
    font-size: 100%;
    box-shadow: 3px 3px 3px #000000aa;
}
.EquationDisplay .TextSlot{
    padding: 3px;
    font-size: 5em;
    height: 1.5em;
}
.InputArea{
    font-size:1.3em;
    padding:.5em; 
}
.timercell {
    padding: 10px;
}