.darktrue {
    background:black;
    color:white;
}

.darktrue button {
    background-color:black;
    color:white;
    border-color:white;
}

.darktrue .EquationDisplay {
    border-color:white;
}

.darktrue #progressbar {
    border-color:white;
    background-color:black
}

.darktrue #border {
    background-color:white;
}

.darktrue .scoreDisplay {
    border-color:white;
}

.darktrue #AnswerBox {
    color:white;
}

.startScreen {
    margin:auto;
    width:100%;
    text-align:center;
}

.playScreen {
    margin:auto;
    width:100%;
    text-align:center;
}

.endScreen {
    margin:auto;
    width:100%;
    text-align:center;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

.restartButton, .settingsButton, .startButton, .exitButton {
    border:1px solid black;
    border-radius: 10px;
    background-color:white;
    box-shadow: 3px 3px 3px #000000aa;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.restartButton:hover, .settingsButton:hover, .startButton:hover, .exitButton:hover {
    filter:brightness(90%);
}

.equations {
    margin-left:auto;
    margin-right:auto;
}

.equationsCol {
    width:500px;
}

.settingsTable {
    margin-left:38%;
    margin-right:32%;
}

.settingsTable td {
    width:30%;
    text-align:left;
    vertical-align:top;
}

.activefalse {
    opacity: 0.3;
}