.EmptyHeart {
    max-height:125px;
    max-width:125px;
    height: auto;
    width: auto;
}
.FullHeart {
    max-height:125px;
    max-width:125px;
    height: auto;
    width: auto;
}

.Lives {
    bottom: 0px;
    left: 0px;
    position:fixed;
}