.Heart1 {
    max-height:100%;
    max-width:100%;
    height: auto;
    width: auto;
}

.Heart2 {
    max-height:100%;
    max-width:100%;
    height: auto;
    width: auto;
}

.Heart3 {
    max-height:100%;
    max-width:100%;
    height: auto;
    width: auto;
}