.EmptyHeart {
    max-height:100px;
    max-width:100px;
    height: auto;
    width: auto;
}
.FullHeart {
    max-height:100px;
    max-width:100px;
    height: auto;
    width: auto;
}

.Lives {
    top: -10px;
    left: 100px;
    position:fixed;
}