  .settingsMenu {
    position:absolute;
    height:calc(100% - 50px);
    top:50px;
    width:20%;
    left:80%;
    padding: 10px;
  }

  .settingsMenuBackground {
    position:absolute;
    height:calc(100% - 50px);
    top:50px;
    width:20%;
    left:80%;
    background-color: lightgray;
    opacity:0.5;
  }
  
  .settingsMenuBox {
    vertical-align:top;
  }