/* code taken from https://codepen.io/vaughnantonyan/pen/baypWZ*/
#progressbar{
    width: 0.7em;
    height: 7em;
    background-color: #c3ffbe;
    border: 0.14em solid;
    border-radius: 0.4em;
    position: relative;
    top: -0.3em;
    /*https://codepen.io/Arkellys/pen/rgpNBK */
    
}

#progress {
    border-radius: 0.20em;
    height: 100%;
    width: 100%;
    text-align: right;
    bottom: 0;
    position: absolute;
    transform: rotate(180deg); /*this makes the progress bar decrease the correct way*/
    background-color: #60d056;
    box-sizing: border-box;
  }
  #dot{
    height: 15%;
    width: 150%; /*30px*/
    background-color: #60d056;
    border-radius: 50%;
    display: table;
     /*this should be centered*/
    position: absolute;
    bottom: -10%;
    left: -25%;
  }
  #border{
    z-index: -1;
    background-color: black;
    height: 117%;
    width: 117%;
    border-radius: 50%;
    display: table;
    position: absolute;
    transform: translate(-7.3%,-7.3%); /*8.5/117*/
  }