/* code taken from https://codepen.io/vaughnantonyan/pen/baypWZ*/
.progressbar{
    width: 20px;
    margin: 10px auto;
    height: 200px;
    background-color: #c3ffbe;
    border: 3px solid black;
    border-radius: 10px;
    position: relative;
    /* text-align: left; */
}

.progressbar .progress {
    border-radius: 7px;
    height: 100%;
    text-align: right;
    padding: 0 10px;
    bottom: 0;
    position: absolute;
    transition: height linear;
    transition-duration: 1ms;
    transform: rotate(180deg);
    line-height: 22px; /* same as #progressBar height if we want text middle aligned */
    background-color: #60d056;
    box-sizing: border-box;
    
  }