#AnswerBox{
    border:0;
    font-size: 2.5em;
    caret-color: rgba(159, 159, 159, 0.797);
    outline: auto;
    opacity:50%;
    background-color:transparent;
}
#AnswerBox:focus{
    outline:none!important;
}